{
  "semi": false,
  "arrowParens": "always",
  "singleQuote": true,
  "tabWidth": 4,
  "tabs": false,
  "vueIndentScriptAndStyle": false,
  "trailingComma": "es5",
  "printWidth": 160,
  "endOfLine": "lf",
}
